<div class="container mt-5">
  
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Tìm kiếm sản phẩm ở đây</mat-label>
    <input matInput ngModel name="searchKey" 
           id="searchKey"
           #searchkeyword
           (keyup)="searchByKeyWord(searchkeyword.value)"
           placeholder="Tìm kiếm thông tin sản phẩm ở đây">
  </mat-form-field>

  <div *ngIf="showTable">
    <table mat-table [dataSource]="productDetails" class="mat-elevation-z8" *ngIf="showTable">

      <!-- productId Column -->
      <ng-container matColumnDef="Id">
        <th class="custom-header-row" mat-header-cell *matHeaderCellDef> Mã hàng</th>
        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
      </ng-container>
    
      <!-- ProductName Column -->
      <ng-container matColumnDef="Name">
        <th class="custom-header-row" mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container> 
    
      <!-- productDescription Column -->
      <ng-container matColumnDef="description">
        <th class="custom-header-row" mat-header-cell *matHeaderCellDef> Mô tả </th>
        <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
      </ng-container>
    
      <!-- productDiscountedPrice Column -->
      <ng-container matColumnDef="Product Discounted Price">
        <th class="custom-header-row" mat-header-cell *matHeaderCellDef> Giá sale </th>
        <td mat-cell *matCellDef="let element" style="color: red;"> {{formatCurrency(element.productDiscountedPrice)}} </td>
      </ng-container>
  
        <!-- productActualPrice Column -->
        <ng-container matColumnDef="Product Acutal Price">
          <th class="custom-header-row" mat-header-cell *matHeaderCellDef> Giá gốc </th>
          <td mat-cell *matCellDef="let element"> {{formatCurrency(element.productActualPrice)}} </td>
        </ng-container>

            <!-- Images position -->
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef class="custom-header-row">Chức năng</th>
              <td mat-cell *matCellDef="let element"> 
                  <button mat-icon-button color="primary" (click)="showImages(element)">
                      <mat-icon>images</mat-icon>
                    </button>

                    <button mat-icon-button color="primary" (click)="updateProductDetails(element)">
                      <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" (click)="openDeleteConfirmationDialog(element.productId)">
                      <mat-icon>delete</mat-icon>
                    </button>
               </td>
            </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="20" [pageSizeOptions]="[1, 3, 5,7,10,15,20]" aria-label="Select page">
    </mat-paginator>
  </div>
   
      <div class="text-center p-5">
        <button type="button" mat-raised-button color="primary" (click)="loadMoreProduct()">Tải thêm</button>
      </div>
</div>

  
  