.space-buttons {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}

mat-sidenav {
  width: 280px;
  background-color: #fafafa;
}

.list-item-content mat-icon {
  margin-right: 20px;
  /* Điều chỉnh khoảng cách giữa biểu tượng và chữ */
}

.cart-wrapper {
  cursor: pointer;
  position: relative;
  /* Điều chỉnh vị trí của phần tử kích hoạt (trigger) và giao diện giỏ hàng */
}

.cart-trigger:hover+.cart-container {
  display: block;
  /* Hiển thị giao diện giỏ hàng khi hover qua phần tử kích hoạt */
}

.cart-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fafafa;
  border: 1px solid #333;
  padding: 10px;
  width: 300px;
  min-height: 200px;
  /* Điều chỉnh kích thước giỏ hàng */
  z-index: 999;
  /* Đảm bảo giao diện giỏ hàng hiển thị trên các phần tử khác */
  /* Thêm các thuộc tính CSS khác cho kiểu dáng của giao diện giỏ hàng */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}