<div class="container mt-5">
    <div class="card" style="padding: 20px;text-align: center;color: green;">
        <h1>Đây là trang quản trị</h1>
    </div>
</div>
<!-- <mat-toolbar color="primary">
    <span>
      PhoneStore
    </span>
  
    <span class="space-buttons"></span>
    <button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button color="primary">
        Đăng nhập
      </button>
  
    <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="accent">
      Đăng xuất
    </button>
  </mat-toolbar>
  
<div class="admin-sidebar">

  </div>
  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
   -->

