<div class="container mt-5">
    <div class="card" style="padding: 20px;text-align: center;color: red;">
        <h1>Đây là trang web người dùng</h1>
        <h2>{{message}}</h2>
</div>
<!-- <mat-toolbar color="primary">
  <span>
    PhoneStore
  </span>

  <span class="space-buttons"></span>
  <button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button color="primary">
      Đăng nhập
    </button>

  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="accent">
    Đăng xuất
  </button>
</mat-toolbar>
<div class="user-content">
  <router-outlet></router-outlet>
</div> -->
